<div id="main-wrapper">
  <app-header></app-header>
  <div class="page-wrapper">
    <div class="container-fluid">

      <!-- Rutas  -->
      <div class="container" style="padding-bottom: 5%;">
        <router-outlet></router-outlet>
      </div>

    </div>
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="bg-dark text-light final fixed-bottom" >
      <div class="footer-copyright text-center py-3">© 2021 - Angel Nicolas Mendez Parra
        <i class="fa fa-heart"></i>
      </div>
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
  </div>
</div>