<div class="form-container">
    <h1>Nuevo registro</h1>
    <form [formGroup]="userForm" #formDir="ngForm" (ngSubmit)="onSaveForm()">
        <div class="cross-validation"
            [class.cross-validation-error]="userForm.errors?.identityRevealed && (userForm.touched || userForm.dirty)">
            <div class="form-group">
                <label for="nombres_apellidos">Nombres y apellidos</label>
                <input id="nombres_apellidos" class="form-control" formControlName="nombres_apellidos"
                    placeholder="Ingresar nombres y apellidos" [(ngModel)]="usuario.nombres_apellidos" required>
                <div *ngIf="nombres_apellidos.invalid && (nombres_apellidos.dirty || nombres_apellidos.touched)"
                    class="alert alert-danger">
                    <div *ngIf="nombres_apellidos.errors.required">
                        El nombre y apellido son requeridos
                    </div>
                    <div *ngIf="nombres_apellidos.errors.minlength">
                        Ingresar mas de 6 caracteres
                    </div>
                </div>
            </div>
        </div>
        <div class="cross-validation"
            [class.cross-validation-error]="userForm.errors?.identityRevealed && (userForm.touched || userForm.dirty)">
            <div class="form-group">
                <label for="email">Email</label>
                <input id="email" class="form-control" type="email" formControlName="email" placeholder="Ingresar email"
                    [(ngModel)]="usuario.email" required>
                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                    <div *ngIf="email.errors.required">
                        El email es requerido
                    </div>
                    <div *ngIf="email.errors.email">
                        Email invalido
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="cross-validation"
                    [class.cross-validation-error]="userForm.errors?.identityRevealed && (userForm.touched || userForm.dirty)">
                    <div class="form-group">
                        <label for="edad">Edad</label>
                        <input id="edad" class="form-control" type="number" formControlName="edad"
                            placeholder="Ingresar edad" [(ngModel)]="usuario.edad" required>
                        <div *ngIf="edad.invalid && (edad.dirty || edad.touched)" class="alert alert-danger">
                            <div *ngIf="edad.errors.required">
                                La edad es requerida
                            </div>
                            <div *ngIf="edad.errors.maxlength">
                                La edad es invalida
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" col-6 cross-validation"
                [class.cross-validation-error]="userForm.errors?.identityRevealed && (userForm.touched || userForm.dirty)">
                <div class="form-group">
                    <label for="genero">Genero</label>
                    <select id="genero" class="form-control" formControlName="genero" [(ngModel)]="usuario.genero" required>
                        <option *ngFor="let p of genders" [value]="p">{{p}}</option>
                    </select>
                    <div *ngIf="genero.invalid && (genero.dirty || genero.touched)" class="alert alert-danger">
                        <div *ngIf="genero.errors.required">
                            El genero es requerido
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cross-validation"
            [class.cross-validation-error]="userForm.errors?.identityRevealed && (userForm.touched || userForm.dirty)">
            <div class="form-group">
                <label for="telefono">Telefono</label>
                <input id="telefono" class="form-control" type="tel" formControlName="telefono" placeholder="Ingresar telefono celular"
                    [(ngModel)]="usuario.telefono" required>
                <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)" class="alert alert-danger">
                    <div *ngIf="telefono.errors.required">
                        El telefono es requerida
                    </div>
                    <div *ngIf="telefono.errors.minlength">
                        El telefono es invalida
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg btn-block" [disabled]="userForm.invalid">Enviar
                registro</button>
        </div>
    </form>
</div>

<div class="table">
    <app-table [usuarios] =" usuarios"></app-table>
</div>